
<div class="student_card" *ngIf="student">
    <a (click)="onBack()" class="previous">&laquo;</a>
     
    <!-- ID -->
    <div class="input-group">
        <span class="input-group-text" id="basic-addon1">ID</span>
        <span class="info"> {{ student.id }}</span>
    </div>

    <!-- NOME -->
    <div class="input-group">
        <span class="input-group-text" id="basic-addon1">Nome</span>
        <span class="info"> {{ student.firstname }}</span>
    </div>

    <!-- COGNOME -->
    <div class="input-group">
        <span class="input-group-text" id="basic-addon1">Cognome</span>
        <span class="info"> {{ student.surname }}</span>
    </div>

    <!-- DATA NASCITA -->
    <div class="input-group">
        <span class="input-group-text" id="basic-addon1">Data di Nascita</span>
        <span class="info"> {{ student.dateOfBirth }}</span>
    </div>

    <!-- INDIRIZZO -->
    <div class="input-group">
        <span class="input-group-text" id="basic-addon1">Indirizzo</span>
        <span class="info"> {{ student.address }}</span>
    </div>

    <!-- CITTA -->
    <div class="input-group">
        <span class="input-group-text" id="basic-addon1">Città</span>
        <span class="info"> {{ student.city }}</span>
    </div>

    <!-- EMAIL -->
    <div class="input-group">
        <span class="input-group-text" id="basic-addon1">Email</span>
        <span class="info"> {{ student.email }}</span>
    </div>

    <!-- TELEFONO -->
    <div class="input-group">
        <span class="input-group-text" id="basic-addon1">Telefono</span>
        <span class="info"> {{student.phoneNumber}}</span>
    </div>

    <!-- EMPLOYEE -->
    <div class="input-group">
        <span class="input-group-text" id="basic-addon1">Impiegato</span>
        <span class="info"> {{student.isEmployee}}</span>
    </div>

</div>
