<div class="student_card" *ngIf="student">
   
    <h1 class="title">Dettagli Studente</h1>
    
    

    <form class="row g-3">
        <!-- ID -->
        <div class="col-md-6">
            <label for="inputEmail4" class="form-label">ID</label>
            <input type="text" class="form-control" id="inputEmail4" readonly value="{{student.id}}">
        </div>

        <!-- NOME -->
        <div class="col-md-6">
            <label for="inputPassword4" class="form-label">Nome</label>
            <input type="text" class="form-control" id="inputPassword4" readonly value="{{ student.firstname }}">
        </div>

        <!-- COGNOME -->
        <div class="col-6">
            <label for="inputAddress" class="form-label">Cognome</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St" readonly
                value="{{ student.surname }}">
        </div>

        <!-- NASCITA -->
        <div class="col-6">
            <label for="inputAddress2" class="form-label">Data di Nascita</label>
            <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor"
                readonly value="{{ student.dateOfBirth }}">
        </div>

        <!-- INDIRIZZO -->
        <div class="col-md-6">
            <label for="inputCity" class="form-label">Indirizzo</label>
            <input type="text" class="form-control" id="inputCity" readonly value="{{student.address}}">
        </div>

        <!-- CITTA' -->
        <div class="col-md-6">
            <label for="inputCity" class="form-label">Citta</label>
            <input type="text" class="form-control" id="inputCity" readonly value="{{ student.city }}">
        </div>

        <!-- EMAIL' -->
        <div class="col-md-4">
            <label for="inputCity" class="form-label">Email</label>
            <input type="text" class="form-control" id="inputCity" readonly value="{{ student.email }}">
        </div>

        <!-- TELEFONO' -->
        <div class="col-md-4">
            <label for="inputCity" class="form-label">Telefono</label>
            <input type="text" class="form-control" id="inputCity" readonly value="{{ student.phoneNumber }}">
        </div>

        <!-- IMPIEGATO' -->
        <div class="col-md-4">
            <label for="inputCity" class="form-label">Impiegato</label>
            <input type="text" class="form-control" id="inputCity" readonly value="{{ student.isEmployee }}">
        </div>

        <div class="col-12">
            <button class="mybtn"  (click)="onBack()">Torna Indietro</button>
        </div>
       

    </form>
    

    

</div>