.student_card{
  float:right;
  width:calc(100vw - 250px);
  height:100vh;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

form{
  padding: 10px 10%;

  
  
 
}


.mybtn{
  width: 140px;
  height: 50px;
  background-color: #2950e6;
  color: white;
  border:none;
  margin: 0 10px 0 0;
}