<div class="container_student_add">
    <h1 class="title_addstudent">Studente</h1>
    <form novalidate (ngSubmit)="save(addStudentForm)" #addStudentForm="ngForm" class="row g-3">

        <!-- NOME -->
        <div class="col-md-6">
            <label for="firstname" class="form-label">Nome</label>
            <input type="text" class="form-control myshadow" id="firstname" name="firstname" required minlength="3" [(ngModel)]="student.firstname"
                #studentName="ngModel"
                [ngClass]="{ 'is-invalid' : ( studentName.touched || studentName.dirty ) && !studentName.valid }">
            <span class="invalid-feedback">
                <span *ngIf="studentName.errors?.required"> Il nome è obbligatorio. </span>
                <span *ngIf="studentName.errors?.minlength"> Il nome deve essere almeno di 3 caratteri. </span>
            </span>
        </div>
      
        
        <!-- COGNOME -->
        <div class="col-md-6">
            <label for="surname"class="form-label">Cognome</label>
            <input type="text" class="form-control myshadow" id="surname" name="surname" required minlength="3" [(ngModel)]="student.surname"
                #studentSurname="ngModel"
                [ngClass]="{ 'is-invalid' : ( studentSurname.touched || studentSurname.dirty ) && !studentSurname.valid }">
            <span class="invalid-feedback">
                <span *ngIf="studentSurname.errors?.required"> Il Cognome è obbligatorio. </span>
                <span *ngIf="studentSurname.errors?.minlength"> Il Cognome deve essere almeno di 3 caratteri.
                </span>
            </span>
        </div>
       
        
        <!-- DATA DI NASCITA -->
        <div class="col-md-6">
            <label for="dateOfBirth"class="form-label">Data di nascita</label>
            <input type="date" class="form-control myshadow" id="dateOfBirth" name="dateOfBirth" [(ngModel)]="student.dateOfBirth" 
                #studentDateOfBirth="ngModel"
                [ngClass]="{ 'is-invalid' : ( studentDateOfBirth.touched || studentDateOfBirth.dirty ) && !studentDateOfBirth.valid }">
            <span class="invalid-feedback">
                <span *ngIf="studentDateOfBirth.errors?.required"> La data di nascita è obbligatoria. </span>
            </span>
        </div>
       

        <!-- INDIRIZZO -->
        <div class="col-md-6">
            <label for="address"class="form-label">Indirizzo</label>
            <input type="text" class="form-control myshadow" id="address" name="address" required minlength="5" [(ngModel)]="student.address"
                #studentAddress="ngModel"
                [ngClass]="{ 'is-invalid' : ( studentAddress.touched || studentAddress.dirty ) && !studentAddress.valid }">
            <span class="invalid-feedback">
                <span *ngIf="studentAddress.errors?.required"> L'indirizzo è obbligatorio. </span>
                <span *ngIf="studentAddress.errors?.minlength"> L'indirizzo deve essere almeno di 5 caratteri.
                </span>
            </span>
        </div>
       

        <!-- CITTA' -->
        <div class="col-md-12">
            <label for="city"class="form-label">Città</label>
            <input type="text" class="form-control myshadow" id="city" name="city" required minlength="3" [(ngModel)]="student.city"
                #studentCity="ngModel"
                [ngClass]="{ 'is-invalid' : ( studentCity.touched || studentCity.dirty ) && !studentCity.valid }">
            <span class="invalid-feedback">
                <span *ngIf="studentCity.errors?.required"> La città è obbligatoria. </span>
                <span *ngIf="studentCity.errors?.minlength"> La città deve essere almeno di 3 caratteri.
                </span>
            </span>
        </div>
       

        <!-- EMAIL -->
        <div class="col-md-12">
            <label for="email"class="form-label">Email</label>
            <input type="text" class="form-control myshadow" id="email" name="email" required minlength="3" [(ngModel)]="student.email"
                #studentEmail="ngModel"
                [ngClass]="{ 'is-invalid' : ( studentEmail.touched || studentEmail.dirty ) && !studentEmail.valid }">
            <span class="invalid-feedback">
                <span *ngIf="studentEmail.errors?.required"> L'email è obbligatoria. </span>
                <span *ngIf="studentEmail.errors?.minlength"> L'email deve essere almeno di 3 caratteri.
                </span>
            </span>
        </div>
       

        <!-- TELEFONO -->
        <div class="col-md-12">
            <label for="phoneNumber"class="form-label">Telefono</label>
            <input type="text" class="form-control myshadow" id="phoneNumber" name="phoneNumber" required minlength="8" [(ngModel)]="student.phoneNumber"
                #studentPhoneNumber="ngModel"
                [ngClass]="{ 'is-invalid' : ( studentPhoneNumber.touched || studentPhoneNumber.dirty ) && !studentPhoneNumber.valid }">
            <span class="invalid-feedback">
                <span *ngIf="studentPhoneNumber.errors?.required"> Il numero di telefono è obbligatorio. </span>
                <span *ngIf="studentSurname.errors?.minlength"> Il numero di telefono deve essere almeno di 8 caratteri.
                </span>
            </span>
        </div>
       

        <!-- è Impiegato? -->
        <div class="checkarea">
            <label for="isEmployee"class="form-label"> E' Impiegato </label>
            <input type="checkbox" class="form-check-input" id="isEmployee" name="isEmployee">
            <br>
        </div>
        
        
        <div class="btn" role="group" aria-label="Basic example">
            <input type="submit" class="btn btn_send"value="invia" [title]="addStudentForm.valid ? 'crea nuovo studente' : 'invio disabilitato finchè i dati non sono validi'" [disabled]="!addStudentForm.valid">
            <button (click)="onBack()" class="btn btn_back">Indietro</button>
        </div>
    </form>
</div>
