.container_student_add {
  float: right;
  width: calc(100vw - 250px);
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

form {
  width: 80%;
}

label {
  margin-top: 20px;
}

.invalid-feedback {
  position: absolute;
}

.checkarea {
  display: flex;
  align-items: center;
}

.form-check-input {
  margin-left: 20px;
  margin-top: 15px;
}
.btn_send,
.btn_back {
  width: 140px;
  height: 50px;
  background-color: #2950e6;
  color: white;
}
.btn_back {
  margin: 0 30px;
  background-color: #1b36a1;
}
