<div class="container_studentlist" id="main">
  <button class="btnaddstudent" [routerLink]="['/addstudents', 0]" style="width: 200px;"><i class="fas fa-plus"></i> Aggiungi Studente</button>
  <div class="myborder"></div>
    <table class="table" 
      id="table">
      <thead class="thead">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Surname</th>
          <th scope="col">Email</th>
          <th scope="col">Address</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody class="tbody">
        
        <tr *ngFor="let s of students">
          <td>{{ s.id }}</td>
          <td>{{ s.firstname }}</td>
          <td>{{ s.surname }}</td>
          <td>{{ s.email }}</td>
          <td>{{ s.address }}</td>
          <td style="text-align: right;">
            <div class="btn_div" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-primary" [routerLink]="['/studentdetails', s.id]">Info</button>
              <button type="button" class="btn btn-warning" [routerLink]="['/addstudents', s.id]">Modifica</button>
              <button type="button" class="btn btn-danger" (click)="clickMethod(s.id)">Elimina</button>
            </div>
          </td>
        </tr>
      
      </tbody>
    </table>
    <div class="myborder"></div>
  </div>