.home_container{
  font-family: "roboto";
  float: right;
  width: calc(100vw - 250px);
  height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
 

  padding-top: 20px;
 
}

.title{
  font-weight: bold;
  font-size: 50px;
}

.imghero{
  margin-top: 20px;
  width: 800px;
}